<h2><%= @rabbit.name %></h2>

<ul class="list-group">
  <li class="list-group-item">Color: <%= @rabbit.color %></li>
  <li class="list-group-item">Owners: </li>
  <li class="list-group-item">Walk Count: </li>
</ul>